<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gz.soso.mapper.SysPositionMapper">

    <resultMap id="BaseResultMap" type="com.gz.soso.pojo.entity.SysPosition">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="position_name" column="position_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="create_user" column="create_user" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_user" column="update_user" jdbcType="BIGINT"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,position_name,remark,
        status,create_user,create_time,
        update_user,update_time,deleted
    </sql>
</mapper>
